.input {
    display: block;
    padding: 5px;
    border: 4px solid #F1B720;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
}

.input:hover {
    border-radius: 8px
}

.input:focus {
    /*outline: none:*/
    border-radius: 8px;
    border-color: #EBD292
}
