#Ftab{
    margin-top:10px;
}
#mTab{
    border:solid 1px #666666;
    border-collapse:collapse;
}
#mTab td{
    border:solid 1px #666666;
    width:60px;
    height:60px;
    max-height:60px;
    text-align:center;
    overflow:hidden;
}
#mTab td textarea{
    display:block;
    outline:0px;
    border:0px;
    width:100%;
    height:100%;
}
